Source: shim
Section: net
Priority: extra
Maintainer: Jacob Appelbaum <jacob@appelbaum.net>
Build-Depends: autotools-dev,
               debhelper (>= 7.0.50~),
               dh-apparmor,
               hardening-wrapper,
               libevent-dev (>= 2.0.19)
Standards-Version: 3.9.3
Homepage: https://www.github.com/ioerror/shim/

Package: shim
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: wedge this HTTP proxy between your browser and Tor
 shim is a tool for converting HTTP requests into SOCKS (4/4a) connections. It
 is designed for use with the Tor anonymity network.
